{{> head}}
{{> navbar}}
  <div class="row">
      <div class="col-8">
          <h1>Paris Francia</h1>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quod, maiores quae accusamus similique ducimus est architecto velit mollitia quisquam culpa nam, perspiciatis voluptatibus, eum minima doloribus voluptate quidem! Commodi.
          </p>
      </div>
      <div class="col-4">
          <img src="assets/img/paris.jpg" alt="" class="img-thumbnail">
      </div>
  </div>
{{> footer}}
